* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

html {
	font-family: "Courier", sans-serif, "Lucida Sans";
}

body {
	margin:0;
	background-color: #330000;
	color: wheat;
}

ul {
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #330000;
	position: relative;
	top:0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: wheat;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.header1 {
	position: relative;
	color:wheat;
	margin:0;
	height: 20%;
	text-align: center;
	/*img src images-free.net/content/cup-of-coffee-computer-wallpaper.html
    */
	background-image: url("coffeeImg.jpg");
	background-repeat: no-repeat;
    /*background-size: contain;*/
		
	
	background-position: center;
	background-size:cover;
    padding: 5%;
    box-shadow: 5px 10px 8px wheat;
}

.header2 {
	position: relative;
	margin:0;
	padding: 5%;
	height: 15%;
	text-align: center;
}

.header3 {
	position: relative;
	margin:0;
	padding: 5%;
	height: 15%;
	text-align: center;
}

.row {
	position:relative;
	margin:5%;
	text-align:center;
	}
	
	
	@media only screen and (min-width: 768px) {
		
		 html{font-size:25px;}
		.header1 {height: 40%; padding:8%;}
		
	}
